# ===== Misc =====
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ===== IDE =====
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ===== Flutter / Dart =====
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
/build/
/coverage/

# ===== Android =====
android/.gradle/
android/local.properties
/android/app/debug
/android/app/profile
/android/app/release

# ===== iOS =====
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/.last_build_id

# ===== Environment =====
.env
.env.*
